body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: gray;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
:root{
    --color-bg: rgba(19, 17, 17, 0.301)808;
}
*{
    box-sizing: border-box;
}
.fir { position: absolute;
    text-align: center;
    font-size: 2.5em;
    line-height: 26px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    z-index: 1;
    max-width: 700px;
    padding-left: 170px;
    line-height: 0.9em;
}
i{
    color: red;
    cursor: pointer;
}
h1{ margin-top: -110px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: overline;
    text-shadow: rgba(17, 17, 17, 0.397)d0d;
    font-size: 1.9;
    /* margin: 0; */
}
@keyframes bounce {
    0%,20%,50%,80%,to{
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
    90%{
        transform: translateY(-4px);
      } 
}
.bounce{
    animation: bounce 1s linear;
}
.upper{
    width: 80em;
    color: #f1f1f1;
    display: flex;
    background: #111;
    margin: 0;
}
.text{
    padding: 1em;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
a .hover{
    color: red;
    border: 2px solid blue 5px;
}
.image{
    width: 80%;
    height: 37em;
    position: relative;
    overflow: hidden;
}
.image::before{
    content: '';
    position: absolute;
    left: -6.1em;
    top: 50%;
    transform: translateY(-50%) rotate(20deg);
    background: #111;
    width: 35%;
    height: 140%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}
ul li:hover::after{
    width: 100%;

}
ul{
    position: absolute;
    list-style-type: none;
    display: flex;
    top: 0px;
    left: 40%;
    justify-content: right;
    text-decoration: none;

}
li{
    font-weight: bold;
}
a{  
    color: white;
    text-decoration: none;
}
.top{
    height: 60px;
    width: 160px;
    border: 3px solid rgba(212, 11, 11, 0.863) ;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding-left: 15px;
    text-align: center;
    margin-top: 180px;
    margin-left: 400px;
    border-radius: 25px;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    z-index: 1;
}
span{
    background: rgba(212, 11, 11, 0.863);
    height: 100%;
    width: 0;
    border-radius: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.top:hover span{
    width: 100%;
    
}
.top:hover{
    border-right-color: white;
    transform: scale(1.1);
}
.second{
    color: black;
    background-color: white;
    position: relative;
    /* z-index: -1; */
}
.ytext{
    padding: 1em;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
.hea{
    font-weight: lighter;
    color: red;
    margin-left: 25px;
    text-align: right;
    font-size: 3.0em;
    text-transform:capitalize;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imga img{
    width: 370px;
    height: 350px;
}
.f1{
    margin-left: 90px;
    margin-top: 290px;
}
.f2{
    margin-top: 10px;
    position: absolute;
    margin-right: 140px;
    /* z-index: -1; */
}
.des{
    margin-left: 10px;
    font-size: 1.3em;
    text-align: left;
    border: 8px;
    border-left-style: solid;
    border-left-color: red;
    padding-left: 25px;
}
.dow{
    height: 50px;
    width: 150px;
    margin-left: 60px;
    margin-bottom: 260px;
    background: red;
    color: black;
    border: 1px solid transparent;
    border-left: 2px;
    border-left-color: black;
    border-left-style: solid;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.527);

}
.dow:hover{
    background: transparent;
    transform: scale(1.1);
    color: red;
    border-right: 2px;
    border-left: 0;
    border-right-color: red;
    border-right-style: solid;
}
hr{
    width: 500px;
    height: 1.5px;
    background: red;
    border-color: red;
}
.bot{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* margin-top: 40px; */
    /* height: 100px; */
    text-align: center;
    font-size: 2em;
}
small{
    font-size: 0.5em;
    color: red;
}
em{
    font-size: 2.4em;
    color: red;
}
.big{
    background-size:cover;
    background: url(394021-1920x1080.jpg);
    position: absolute;
    margin-top: 740px;
    margin-left: 65px;
}
